

## File with Credentials
env.properties

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store

##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
/log/
/target/
# maven project related ignore files and directories
.mvn/

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################

.out/
.idea/
.idea_modules/
*.iml
#*.xml
*.ipr
*.iws
*.ids
*.orig
classes/
out/
# Add any directories, files, or patterns you don't want to be tracked by version control
/.metadata/
.classpath
.editorconfig
.factorypath
.gitattributes
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/modifysf.iml
.idea/modules.xml
.idea/typescript-compiler.xml
.idea/workspace.xml
.project
.settings/
README.md
mvnw.cmd
node/
node_modules/
package-lock.json
src/main/webapp/assets/sf/manifest.json
src/main/webapp/assets/sumfox-logo-167x33-Copy.png
yarn.lock
/.idea/jsLibraryMappings.xml
/.idea/libraries/tsconfig_roots.xml
/.vscode/settings.json
/out/production/main/com/eclinso/sumfox/config/MethodSecurityConfiguration.txt
/src/main/main.iml
/.idea/misc.xml
/.idea/libraries
.idea
libraries
##############################
## Eclipse
##############################
tmp/
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

##############################
## NetBeans
##############################
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# Created by https://www.toptal.com/developers/gitignore/api/java,macos,maven,gradle,osx,visualstudiocode,eclipse,netbeans
# Edit at https://www.toptal.com/developers/gitignore?templates=java,macos,maven,gradle,osx,visualstudiocode,eclipse,netbeans

### Eclipse ###
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project

### Eclipse Patch ###
# Spring Boot Tooling
.sts4-cache/

# Log file
*.log

# BlueJ files
*.ctxt


# Package Files #

*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
replay_pid*

### macOS ###
# General
.AppleDouble
.LSOverride
.svn

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### macOS Patch ###
# iCloud generated files
*.icloud


### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash

.nb-gradle/

#######################
## Gradle Wrapper
#######################
#!gradle/wrapper/gradle-wrapper.jar
#
#######################
## Maven Wrapper
#######################
#!.mvn/wrapper/maven-wrapper.jar

### OSX ###
# General
# Icon must end with two \r
# Thumbnails
# Files that might appear in the root of a volume
# Directories potentially created on remote AFP share

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### Gradle ###
**/build/
!src/**/build/

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Eclipse Gradle plugin generated files
# Eclipse Core
# JDT-specific (Eclipse Java Development Tools)

### Gradle Patch ###
# Java heap dump
*.hprof

# End of https://www.toptal.com/developers/gitignore/api/java,macos,maven,gradle,osx,visualstudiocode,eclipse,netbeans